@model IEnumerable<TestLogin.Models.AuctionModel>

@{
    ViewBag.Title = "ViewAuction";
}

<h2>Auktioner</h2>

<p>
    @Html.ActionLink("Lav ny auktion", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentWinner)
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.EndDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CurrentPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaxPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Bid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CurrentWinner)
    </td>
    <td>
        @Html.ActionLink("Byd", "BidOnAuction", new { Id = item.Id, CurrentPrice = item.CurrentPrice, Bid = item.Bid /* id=item.PrimaryKey */ })
    </td>
</tr>
    }

</table>
